body {
    font-family :arial;   
}    
.pageInfo {
    position : absolute;
    left : 20pc;
    width : 60pc;
    text-align : center;
    z-index : 1001;
    color : white;       
}
.editPanel {
    font-size : 14px;
    
    position: absolute;
    z-index: 1001;
    left: 10%;
    width : 80%;
    height : 128px;
    bottom : 0px;
    overflow: hidden;
    padding : 0px;
    
    border-top-color: #fff;
    border-top-style: solid;
    border-top-width: 2px;   
    border-left-color: #fff;
    border-left-style: solid;
    border-left-width: 2px;   
    border-right-color: #fff;
    border-right-style: solid;
    border-right-width: 2px;   
    background: rgba(0, 0, 0, 0.5);    
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;  
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.editPanel div {
    width : 100%;
    text-align: center;
    margin-top: -9px;
}
.editPanel span {
    font-size : 14px;
    color : white;
    
}
.editPanel input {
    background: rgba(0, 0, 0, 0.46);
    border: 1px #fff solid;
    color: #fff;
    padding: 0px;
    margin: 2px;    
    
}
.hoverBut {
    background: rgba(0, 0, 0, 0.46);
    border: 1px #fff solid;
    color: #fff;
    padding: 0px;
    margin: 2px;    
}
.hoverBut:hover {
    background: rgba(128, 0, 0, 0.46);
    cursor : pointer;
    padding: 1px;
    margin: 1px;
}
.editPanel select {
    font-size: 10px;
    color : white;
    background : black;
    float: right;
}
.editPanel .infoText {
    font-size : 14px;
    color : white;
    
}
.editPanel select::-webkit-scrollbar {
    width: 12px;
}

.editPanel select ::-webkit-scrollbar-track {
	background: #225588;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
    /*border-radius: 10px;*/
}

.editPanel select ::-webkit-scrollbar-thumb {
 /*   border-radius: 10px;*/
	background: #3377BB;
    -webkit-box-shadow: inset 0 0 6px rgba(250,250,250,0.4);
}
/*::-moz-scrollbar {
    width: 12px;
}

::-moz-scrollbar-track {
	background: #225588;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
}

::-moz-scrollbar-thumb {
	background: #3377BB;
    -webkit-box-shadow: inset 0 0 6px rgba(250,250,250,0.4);
}
::-ms-scrollbar {
    width: 12px;
}

::-ms-scrollbar-track {
	background: #225588;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
}

::-ms-scrollbar-thumb {
	background: #3377BB;
    -webkit-box-shadow: inset 0 0 6px rgba(250,
.editPannel input{
    font-size: 10px;
}*/

.menu {
    position: absolute;
    z-index: 1001;
    top: 30%;
    right: 0px;
    width : 0px;
    overflow: hidden;
    border-top-color: #fff;
    border-top-style: solid;
    border-top-width: 4px;

    border-bottom-color: #fff;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-left-color: #fff;
    border-left-style: solid;
    border-left-width: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;  
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;    
    background: rgba(255, 255, 255, 0.24);    
}
.menuTitle {
    color : white;       
    font-weight : 700;
    display: block;
    width: 140px;       
}
.menuLink {
    color : white;       
    overflow: hidden;
    display: block;
    width: 140px;    
}
.menuLink:hoover {
    cursor : pointer;
    
}
#title {
    font-size : 44px;
    top : 0px;
}
#stats {
    font-size : 14px;
    bottom : 0px;
}
#instructions {
    font-size : 18px;
    top : 50px;
}
